

<div>
  <div>
    <h1>
      Dock #<%= @the_dock.id %> details
    </h1>

    <div>
      <div>
        <a href="/docks">
          Go back
        </a>
      </div>
<% if @the_dock.owner == session.fetch(:owner_id) %>
      <div>
        <a href="/delete_dock/<%= @the_dock.id %>">
          Delete dock
        </a>
      </div>
    </div>
<%end%>
    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="%= @the_dock.image %>">
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_dock.address %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_dock.poster.owner_username %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_dock.price %>
      </dd>
