

<div>
  <div>
    <h1>
      Dock #<%= @the_dock.id %> details
    </h1>

    <div>
      <div>
        <a href="/docks">
          Go back
        </a>
      </div>
<% if @the_dock.owner == session.fetch(:owner_id) %>
      <div>
        <a href="/delete_dock/<%= @the_dock.id %>">
          Delete dock
        </a>
      </div>
    </div>
<%end%>
    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <%= @the_dock.image %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_dock.address %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_dock.owner %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_dock.price %>
      </dd>

    


      <dt>
        Description
      </dt>
      <dd>
        <%= @the_dock.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_dock.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_dock.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if @the_dock.owner == session.fetch(:owner_id) %>
<div>
  <div>
    <h2>
      Edit dock
    </h2>

    <form action="/modify_dock/<%= @the_dock.id %>"  method="post" >
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_dock.image %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_dock.address %>">
      </div>

      <div>
        <label for="owner_box">
          Owner
        </label>

        <input type="text" id="owner_box" name="query_owner" value="<%= @the_dock.owner %>">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_dock.price %>">
      </div>

     
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_dock.description %></textarea>
      </div>

      <button>
        Update dock
      </button>
    </form>
  </div>
</div>

<hr>
<%end%>
